@font-face {
    font-family: Kabel;
    src: url(/assets/fonts/Kabel\ Ultra\ BT.ttf);
}

.backgroundCSS{
    background-image: url(/assets/normalbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.backgroundCSS2{
    background-image: url(/assets/max-raid-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

p{
    text-align: center;
}

.newfont{
    font-family: Kabel;
}

.card-title{
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.498);
    border-radius: 100px;
}
.card-title-v{
    text-align: center;
    font-size: 30px;
    background-color: rgba(152,208,228, 0.498);
    border-radius: 100px;
}

.card-title-c{
    text-align: center;
    font-size: 30px;
    background-color: rgba(251,200,124, 0.498);
    border-radius: 100px;
}

.card-title-b{
    text-align: center;
    font-size: 30px;
    background-color: rgba(93,177,215, 0.498);
    border-radius: 100px;
}


.generations{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.disabled{
    opacity: 50%;
}

.pokemon{
    padding: 10%
}

.keystone{
    height: 80px;
    width: 80px;
}

.centering{
    display: flex;
    justify-content: space-evenly;
}

img{
    border-radius: 10px;
}

.box{
    background-color: rgba(255, 255, 255, 0.498);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
.box-v{
    background-color: rgba(152,208,228, 0.498);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
.box-c{
    background-color: rgba(251,200,124, 0.498);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
.box-b{
    background-color: rgba(93,177,215, 0.498);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.dex{
    padding: 10px;
}

.grass-bg{
background-image: url(/assets/GrassBG.png);
background-repeat: no-repeat;
background-size: cover;
}

.fire-bg{
    background-image: url(/assets/FireBG.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.water-bg{
    background-image: url(/assets/WaterBG.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.grass-bg2{
background-image: url(/assets/grass_pokemon_energy_wallpaper_by_elbarnzo_d755hbj-fullview.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center; 
}

.fire-bg2{
    background-image: url(/assets/fire_pokemon_energy_wallpaper_by_elbarnzo_d7519pz-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.water-bg2{
    background-image: url(/assets/water_pokemon_energy_wallpaper_by_elbarnzo_d75ebft-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.card{
    padding-bottom: 10px;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1fr;
    gap: 20px;
}

#tcgCard{
    width: 100%;
    height: auto;
}
