@font-face {
    font-family: Kabel;
    src: url(/assets/fonts/Kabel\ Ultra\ BT.ttf);
}

body{
    background-image: url(/assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    text-align: center;
}

h5{
    font-family: Kabel;
}

.generations{
    font-family: Kabel;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.pokemon{
    padding: 10%
}

.keystone{
    height: 80px;
    width: 80px;
}

.centering{
    display: flex;
    justify-content: space-evenly;
}

img{
    border-radius: 10px;
}

.box{
    background-color: rgba(255, 255, 255, 0.498);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.grass-bg{
background-image: url(/assets/GrassBG.png);
background-repeat: no-repeat;
background-size: cover;
}

.fire-bg{
    background-image: url(/assets/FireBG.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.water-bg{
    background-image: url(/assets/WaterBG.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    padding-bottom: 10px;
}